Package: com.nicola.navigatoreosm
Name: NavigatorOSM
Depends: firmware (>= 9.0)
Version: 1.3.5
Architecture: iphoneos-arm
Description: Navigatore GPS Nativo per iPad Mini con OpenStreetMap
Maintainer: Nicola
Author: Nicola
Section: Applications
Icon: https://vibe-maribit.github.io/NavigatorOSM/CydiaIcon.png
Depiction: https://vibe-maribit.github.io/NavigatorOSM/
